<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEX4ZZ6L5Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LEX4ZZ6L5Y');
  </script>

</head>

<body>
  
  <!-- Header Section -->
  <header>
    
      <div class="logo">
        <a href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/zb_logo_1.png" alt="Blog Logo">
        </a>
      </div>
    <nav>
      <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </nav>
    
  </header>

  <!-- Main Content -->
  <main>
    <div class="wrapper">
    {{ content }}
    </div>
  </main>

  <!-- Footer Section -->
  <footer>
    <div class="wrapper">
      <div class="footer">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }} | Designed with ❤️</p>
    </div>
    </div>
  </footer> 

</body>

</html>
