---
layout: default
---

<!-- Featured Section -->
<section class="featured">
  <h1>Logophile, Mama, Observer</h1>
  <p>Here, you'll find words from my brain.</p>
</section>

<!-- Grid of Posts using CSS Grid -->
<section class="posts-grid">
  {% for post in site.posts limit: 9 %}
    <div class="post">
      <div class="post-image">
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
      </div>

      <div class="tags">
        {% for tag in post.tags %}
          <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}/" class="tag-button">{{ tag }}</a>
        {% endfor %}
      </div>

      <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>

      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    </div>
  {% endfor %}
</section>



<!-- All Tags Section -->
<section class="all-tags">
  <h2>Explore by Tag</h2>
  <div class="tag-list">
    {% assign all_tags = site.tags | sort %}
    {% for tag in all_tags %}
      {% assign tag_name = tag[0] %}
      {% assign tag_posts = tag[1] %}
      <a href="{{ site.baseurl }}/tags/{{ tag_name | slugify }}/" class="tag-button">
        {{ tag_name }} ({{ tag_posts | size }})
      </a>
    {% endfor %}
  </div>
</section>








<!-- Possible Pagination Option  
{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %} -->
